In [2]:
import sqlite3
import pandas as pd

In [6]:
conn = sqlite3.connect('database.db')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
tables = cursor.fetchall()
print(tables)
print(len(tables))

[('area',), ('artist',), ('artist_alias',), ('artist_credit_name',), ('artist_credit',), ('artist_type',), ('gender',), ('language',), ('medium',), ('medium_format',), ('release',), ('release_info',), ('release_status',), ('work',), ('work_type',)]
15

Observe that we have 15 tables in this database.

## Q1 (q1_sample)

The purpose of this query is to make sure that the formatting of your output matches exactly the formatting of our auto-grading script.

<b>Details:</b> List all types of work ordered by type ascendingly.

In [5]:
# Lets have a look at all columns in work_type table

cursor.execute("PRAGMA table_info('work_type')")
cols = cursor.fetchall()
for col in cols:
    print(col[1])

id
name
description

In [4]:
output = pd.read_sql_query("""SELECT name FROM work_type ORDER BY name""", conn)
output

                name
0               Aria
1        Audio drama
2             Ballet
3      Beijing opera
4            Cantata
5           Concerto
6   Incidental music
7           Madrigal
8               Mass
9              Motet
10           Musical
11             Opera
12          Operetta
13          Oratorio
14          Overture
15           Partita
16              Play
17              Poem
18             Prose
19           Quartet
20            Sonata
21              Song
22        Song-cycle
23        Soundtrack
24             Suite
25    Symphonic poem
26          Symphony
27          Zarzuela
28             Étude

In [ ]:
# Now solve rest of the questions.. 

# Go through the database schema multiple time inorder to understand it